*/10 * * * * root /opt/calibre/calibredb add $CALIBREDB_IMPORT_DIRECTORY -r --with-library $CALIBRE_LIBRARY_DIRECTORY && rm $CALIBREDB_IMPORT_DIRECTORY/* >> /var/log/cron.log 2>&1
# An empty line is required at the end of this file for a valid cron file.