*/15 * * * * root /etc/calibre/calibredb add $CALIBREDB_IMPORT_DIRECTORY -r --with-library $CALIBRE_LIBRARY_DIRECTORY && rm $CALIBREDB_IMPORT_DIRECTORY/*
# An empty line is required at the end of this file for a valid cron file.